*.slo
*.lo
*.o
*.obj
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.swp
*.DS_Store
m4/*
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
missing
ltmain.sh
libtool
install-sh
.deps
.libs
Makefile
Makefile.in
src/cmp/cmp
src/diff/diff
src/diff3/diff3prog
src/sdiff/sdiff
src/doas/doas
src/csplit/csplit
src/pr/pr
src/users/users
src/cmp/Makefile
src/diff/Makefile
src/diff3/Makefile
src/sdiff/Makefile
src/doas/Makefile
src/csplit/Makefile
src/pr/Makefile
src/users/Makefile
src/Makefile
ylwrap
